.card {
    position: absolute;
    border-radius: 26px;
    padding: 20px 24px 31px 24px;
    width: 370px;
    height: 400px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 8px 7px 0 rgba(0, 0, 0, 0.01), 0 20px 13px 0 rgba(0, 0, 0, 0.01), 0 39px 25px 0 rgba(0, 0, 0, 0.01), 0 65px 47px 0 rgba(0, 0, 0, 0.02), 0 100px 80px 0 rgba(0, 0, 0, 0.02);
    background: #fff;
    right: 18px;
    top: 56px;
    &__img {
        border-radius: 24px;
        width: 321px;
        height: 161px;
    }
    &__box {
        &:hover {
            .card__window {
                display: block;
            }
        }
    }
    &__window {
        display: none;
        position: absolute;
        right: -130px;
        border-radius: 16px;
        width: 237px;
        height: 116px;               
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0), 0 7px 6px 0 rgba(0, 0, 0, 0.01), 0 18px 12px 0 rgba(0, 0, 0, 0.01), 0 35px 23px 0 rgba(0, 0, 0, 0.01), 0 58px 42px 0 rgba(0, 0, 0, 0.02), 0 90px 72px 0 rgba(0, 0, 0, 0.02);
        background: #fff;  
        padding: 14px 22px 19px 73px;  
    }
    &__window-subtitle {
        font-size: 12px;
        line-height: 125%;
        letter-spacing: -0.04em;
        color: #84829a;
    }
    &__window-title {
        margin-top: 5px;
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: -0.01em;
        color: #080809;
    }
    &__window-text {
        margin-top: 12px;
        font-weight: 500;
        font-size: 12px;
        line-height: 125%;
        letter-spacing: -0.06em;
        color: #080809;
        span {
            color: #8a79df;
        }
    }
    &__window-line {
        margin-top: 9px;
        content: '';
        background-image: url("../icons/steps/Line.svg");
        width: 142px;
        height: 5px;
    }
    &__circle-img {
        position: absolute;
        display: block;
        right: 45px;
        top: 216px;
        width: 45px;
        height: 45px;
        cursor: pointer;
        z-index: 1;
    }
    &__subtitle {
       margin-top: 26px;
       font-weight: 500;
       font-size: 16px;
       line-height: 125%;
       letter-spacing: 0.01em;
       color: #080809;
    }
    &__date {
        display: flex;
        font-weight: 400;
        font-size: 14px;
        line-height: 125%;
        letter-spacing: -0.01em;
        color: #84829a;
        margin-top: 13px;
        span {
            &:after {
                content: '';
                display: inline-block;
                border-right: 1px solid #84829a;
                width: 0px;
                height: 16px;
                margin: 0px 13px 0px 3px;
            }
        }
        
    }
    &__navigation {
        width: 120px;
        display: flex;
        justify-content: space-between;
        margin-top: 28px;
    }
    &__navigation-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 36px;
        width: 36px;
        border-radius: 100%;
        background-color: #f5f5f5;
        cursor: pointer;
    }
    &__navigation-icon {
        width: 14px;
        height: 14px;
    }
    &__footer {
        display: flex;
        align-items: center;
        margin-top: 13px;
    }
    &__footer-text {
        display: flex;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: -0.02em;
        color: #84829a;
        margin-top: 4.5px;
        &:before {
            content: '';
            background-image: url("../icons/steps/Group.svg");
            display: block;
            width: 15px;
            height: 15px;
            margin-right: 14px;
        }
    }
    &__footer-heart {
        content: '';
        background-image: url("../icons/steps/Heart_grey.svg");
        display: block;
        width: 19px;
        height: 17px;
        margin-left: 128px;
        cursor: pointer;  
        &:hover {
            background-image: url("../icons/steps/Heart.svg");
        }
    }
}