.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__logo { 
        img {
            max-width: 114.912px;
            height: 100%; 
        }
    }
    .menu {
        width: 850px; 
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
        font-size: 16px;
        font-weight: 400;
        &__item {
            display: flex;
            justify-content: center;
            align-items: center; 
            width: 15%;
            height: 40px;
            border-radius: 5px;
            cursor: pointer;
            &:hover {
                border: 1px solid var(--1st, #212832);               
            }
        }
        &__link {
            color: #212832;
            text-decoration: none;
        }
        &_switch {
            position: relative;
        }
        &__language {
            display: flex;
            align-items: center;
            cursor: pointer;
            &:after {
                content: '';
                height: 4.5px; 
                width: 4.5px; 
                border-bottom: 1px solid #212832; 
                border-right: 1px solid #212832; 
                transform: rotate(45deg); 
                margin: 5px; 
                margin-bottom: 8px;
            }
        }
        &__dropdown {
            display: none;
            position: absolute;
            top: 100%;
            right: 10%;
            background-color: #fff;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            &:hover {
                display: block;
            }
        }
        &_switch:hover .menu__dropdown {
            display: block;        
        }
        
    }
}