@media (max-width: 1200px) {
    .container {
        width: 90%;
    }
    .promo {
        min-height: 700px;
        &__stain {
            width: 500px;
            height: 600px;
        }
        .header {
            &__logo { 
                img {
                    max-width: 101px;
                    height: 100%; 
                }
            }
        }
        .menu {
            font-size: 14px;
            width: 650px;
        }
        &__wrapper {
            height: 634px;
        }
        &__descr {
            width: 460px;
            margin-top: 97px;
        }
        &__header {
            font-size: 17px;
        }
        &__subheader {
            font-size: 70px;
            line-height: 74px; 
            margin-top: 20px;
        }
        &__decore {
            width: 320px;
            height: 10px;
            top: 115px;
            left: 201px;
        }
        &__text {
            font-size: 13px;
            line-height: 25px;
            margin-top: 25px;
        }
        &__buttons {
            margin-top: 28px;
        }
        &__button-more {
            font-size: 15px;
            width: 141px;
            height: 50px;
            margin-right: 36px;
        }
        &__button-circle {
            width: 43px;
            height: 43px;
            margin-right: 17px;
        }
        &__button-triangle {
            border-top: 6.2px solid rgba(0,0,0,0);
            border-left: 12px solid #fff;
            border-bottom: 6.2px solid rgba(0,0,0,0);
        }
        &__button-text {
            font-size: 14px;
        }
        &__woomen {
            width: 634px;
        }
        &__airplane {
            width: 94px;
            right: 410px;
            top: 90px;
        }
        &__airplane-2 {
            width: 94px;
            right: 13px;
            top: 131px;
        }
    }
    //==============================================================================================

    .services {
        padding-top: 80px;
        .title {
            font-size: 15px;
        }
        .subtitle {
            font-size: 41px;
        }
        &__pluses {
            right: 21px;
            width: 126px;
            height: 137px;
        }
        &__items {
            margin: auto;
            margin-top: 56px;
            display: flex;
            justify-content: space-evenly;
        }
        &__item {
            width: 221px;
            height: 260px;
            padding: 34px 35px;
        }
        &__spot {
            width: 63px;
            height: 63px;
            border-radius: 20px 0px 6px 0px;
            left: -18px;
            bottom: -24px;
        }
        &__icon {
            width: 45%;
            height: 45%;
        }
        &__subtitle {
            font-size: 16px;
            margin-top: 24px;
        }
        &__descr {
            font-size: 13px;
            margin-top: 12px;
        }
    }
    //==============================================================================================

    .destinations {
        padding-top: 100px;
        .title {
            font-size: 15px;
        }
        .subtitle {
            font-size: 41px;
        }
        &__items {
            justify-content: space-evenly;
        }
        &__decore {
            width: 78px;
            height: 209px;
            right: -54px;
            z-index: -1;
        }
        &__item {
            width: 260px;
            height: 379px
        }
        &__img {
            width: 260px;
            height: 379px
        }
        &__descr {
            width: 260px;
            height: 108px;
            padding: 22px 19px 30px 19px;
            font-size: 15px;
        }
        &__navigation-img {
            margin-right: 12px;
            width: 15px;
            height: 15px;
        }
        &__days {
            font-size: 13px;
        }
    }
    //==============================================================================================

    .steps {
        .title_left {
            font-size: 15px;
        }
        .subtitle_left {
            font-size: 41px;
        }
        &__item {
        }
        &__rectangle {
            width: 40px;
            height: 40px;
        }
        &__icon {
            width: 20px;
            height: 20px;
        }
        &__subtitle {
            font-size: 13px;
        }
        &__text {
            font-size: 13px;
        }
        .card {
            right: 11%;
            border-radius: 22px;
            padding: 17px 20px 26px 20px;
            width: 307px;
            height: 332px;
            &__img {
                width: 266px;
                height: auto;
            }
            &__subtitle {
                margin-top: 22px;
                font-size: 13px;
            }
            &__date {
                font-size: 12px;
                margin-top: 11px;
                span {
                    &:after {
                        height: 13px;
                        margin: 0px 9px 0px 3px;
                    }
                }
            }
            &__navigation {
                width: 100px;
                margin-top: 23px;
            }
            &__navigation-item {
                height: 30px;
                width: 30px;
            }
            &__navigation-icon {
                width: 12px;
                height: 12px;
            }
            &__footer {
                margin-top: 9px;
            }
            &__footer-text {
                font-size: 12px;
                &:before {
                    width: 12px;
                    height: 12px;
                    margin-right: 12px;
                }
            }
            &__footer-heart {
                background-image: url(../icons/steps/Heart_grey_992.svg);
                background-repeat: no-repeat;
                margin-left: 106px;
                &:hover {
                    background-image: url("../icons/steps/Heart_992.svg");
                }
            }
            &__circle-img {
                right: 37px;
                top: 179px;
                width: 37px;
                height: 37px;
            }
            &__window {
                right: -108px;
                border-radius: 13px;
                width: 197px;
                height: 96px;
                padding: 12px 18px 16px 61px;
            }
            &__window-subtitle {
                font-size: 10px;
            }
            &__window-title {
                font-size: 13px;
                margin-top: 4px;
            }
            &__window-text {
                margin-top: 10px;
                font-size: 10px;
                letter-spacing: normal;
            }
            &__window-line {
                margin-top: 7px;
                background-image: url(../icons/steps/Line_992.svg);
                background-repeat: no-repeat;
            }
        }
    }
    //==============================================================================================

    .testimonials {
        padding-top: 141px;
        .title_left-uppercase {
            font-size: 15px;
        }
        .subtitle_left {
            font-size: 41px;
        }
        &__circles {
            width: 66px;
            height: 10px;
            margin-top: 62px;
        }
        &__circle {
            width: 10px;
            height: 10px;
        }
        .testimonials-block {
            width: 498px;
            height: 282px;
            &__img {
                width: 51px;
                height: 51px;
            }
            &__box {
                border-radius: 7px;
                width: 377px;
                height: 183px;
                top: 26px;
                margin-left: 28px;
                padding: 21px 51px 25px 25px;
                &_bottom {
                    top: 93px;
                    padding-top: 95px;
                    margin-left: 66px;
                }
            }
            &__text {
                font-size: 12px;
            }
            &__name {
                font-size: 13px;
            }
            &__city  {
                font-size: 10px;
            }
            &__arrow-top {
                width: 7px;
                height: 7px;
                top: 116px;
                right: 10px;
            }
            &__arrow-bottom {
                width: 7px;
                height: 7px;
                bottom: 116px;
                right: 10px;
            }
        }
    }
   //==============================================================================================

    .airlines {
        &__link {
            border-radius: 8%;
            width: 200px;
            height: 71px;
        }
        &__img {
            width: 58%;
            height: auto;
        }
    }
    //==============================================================================================

    .subscribe {
        &__wrapper {
            width: 95%;
            height: 327px;
            padding-top: 58px;
            border-radius: 107px 17px 17px 17px;
        }
        &__subtitle {
            font-size: 26px;
            line-height: 136%;
            font-weight: 500;

        }
        &__divorces {
            width: 398px;
            height: auto;
        }
        &__divorces-right {
            width: 219px;
            height: auto;
        }
        &__arrow {
            width: 53px;
            height: auto;
        }
        &__pluses {
            width: 109px;
            height: auto;
            right: -65px;
            bottom: -51px;
        }
        &__form {
            margin: 0 auto;
            margin-top: 61px;
            width: 522px;
            input {
                border-radius: 8px;
                width: 349px;
                height: 56px;
                font-size: 12px;
                padding-left: 55px;
            }
        }
        &__mail-img {
            left: 26px;
        }
        &__button {
            border-radius: 8px;
            width: 149px;
            height: 56px;
            font-weight: 600;
            font-size: 14px;
            margin-left: 20px;
        }
    }
    //==============================================================================================

    .footer {
        &__logo {
            font-size: 37px;
        }
        &__logo-desc {
            margin-top: 16px;
            font-weight: 500;
            font-size: 11px;
            line-height: 125%;
        }
        &__sub {
            font-size: 17px;
            margin-bottom: 25px;
        }
        &__link {
            font-size: 15px;
            margin-bottom: 10px;
        }
        &__social-box {
            width: 178px;
            height: 122px;
        }
        &__social {
            width: 155px;
        }
        &__social-link {
            width: 42px;
            height: 42px;
            text-decoration: none;
        }
        &__social-icon {
            &_facebook {
                width: 7px;
                height: 13px;
            }
            &_instagram {
                width: 14px;
                height: 14px;
            }
            &_twitter {
                width: 14px;
                height: 11px;
            }
        }
        &__social-sub {
            font-size: 16px;
            margin-top: 14px;
        }
        &__mobile-icon {
            width: 86px;
            height: auto;
        }
        &__reserved-link {
            margin-top: 71px;
            font-size: 12px;
        }
    }
}
//==============================================================================================


@media (max-width: 991px) {
    .promo {
        padding-top: 37px;
        min-height: 670px;
        &__stain {
            width: 390px;
            height: 473px;
        }
        .header {
            &__logo { 
                img {
                    max-width: 79px;
                    height: 100%; 
                }
            }
        }
        .menu {
            font-size: 11px;
            width: 507px;
            &__item {
                &:hover {
                    border: none;
                }
            }
        }
        &__descr {
            width: 359px;
            margin-top: 76px;
        }
        &__header {
            font-size: 13px;
        }
        &__subheader {
            font-size: 55px;
            line-height: 62px; 
            margin-top: 16px;
        }
        &__decore {
            width: 250px;
            height: 8px;
            top: 83px;
            left: 154px;
        }
        &__text {
            font-size: 10px;
            line-height: 19px;
            margin-top: 25px;
        }
        &__buttons {
            margin-top: 22px;
        }
        &__button-more {
            font-size: 12px;
            width: 110px;
            height: 39px;
            margin-right: 17px;
        }
        &__button-circle {
            width: 34px;
            height: 34px;
            margin-right: 13px;
        }
        &__button-triangle {
            border-top: 4.83px solid rgba(0,0,0,0);
            border-left: 9.36px solid #fff;
            border-bottom: 4.83px solid rgba(0,0,0,0);
        }
        &__button-text {
            font-size: 11px;
        }
        &__woomen {
            width: 61vw;
        }
        &__airplane {
            width: 63px;
            right: 325px;
            top: 79px;
        }
        &__airplane-2 {
            width: 63px;
            right: 15px;
            top: 114px;
        }
    }
    .services {
        padding-top: 0;
        .title {
            font-size: 12px;
        }
        .subtitle {
            font-size: 32px;
        }
        &__pluses {
            width: 98px;
            height: 107px;
        }
        &__item {
            width: 172px;
            height: 202px;
            padding: 10px 10px;
            border-radius: 21px;
        }
        &__subtitle {
            font-size: 13px;
            margin-top: 16px;
            font-weight: 600;
        }
        &__descr {
            font-size: 12px;
            margin-top: 12px;
        }
        &__spot {
            display: none;
        }
    }
    .destinations {
        padding-top: 88px;
        min-height: 600px;
        .title_capitalize {
            font-size: 12px;
        }
        .subtitle {
            font-size: 32px;
        }
        &__items {
            margin-top: 47px;
            max-width: 776px;
        }
        &__decore {
            width: 61px;
            height: auto;
            right: 5px;
        }
        &__item {
            width: 203px;
            height: auto;
        }
        &__img {
            width: 203px;
            height: auto;
        }
        &__descr {
            width: 203px;
            height: 84px;
            padding: 17px 15px 23px 15px;
            font-size: 12px;
        }
        &__navigation-img {
            margin-right: 9px;
            width: 12px;
            height: 12px;
        }
        &__days {
            font-size: 10px;
        }
    }
    .steps {
        padding-top: 51px;
        .title_left {
            font-size: 12px;
        }
        .subtitle_left {
            font-size: 32px;
            margin-top: 8px;
        }
        &__item {
        }
        &__rectangle {
            width: 41px;
            height: 41px;
            border-radius: 9px;
        }
        &__icon {
            width: 26px;
            height: 26px;
        }
        &__subtitle {
            font-size: 13px;
        }
        &__text {
            font-size: 11px;
            margin-top: 4px;
        }
        .card {
            right: 11%;
            border-radius: 17px;
            padding: 13px 16px 20px 16px;
            width: 239px;
            height: 259px;
            top: 91px;
            &__img {
                width: 207px;
                border-radius: 17px;
            }
            &__box {
                display: none;
            }
            &__subtitle {
                margin-top: 12px;
            }
            &__date {
                margin-top: 7px;
                font-size: 11px;
            }
            &__navigation {
                margin-top: 18px;
            }
            &__navigation-item {
                height: 25px;
                width: 25px;
            }
            &__navigation-icon {
                width: 10px;
                height: 10px;
            }
            &__footer-text {
                font-size: 11px;
                font-weight: 400;
            }
            &__footer-heart {
                margin-left: 76px;
            }
        }
    }
    .testimonials {

    }
    .airlines {
        &__link {
            filter: none;
        }
    }
}