.promo {
    min-height: 966px;
    padding-top: 48px;

    position: relative;
    width: 100%;
    &__stain {
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }
    &__descr {
        position: absolute;
        width: 545px;
        margin-top: 112px;
        z-index: 2;
    }
    &__header {
        color: #DF6951;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__subheader {
        color: var(--1st, #181E4B);
        font-family: Volkhov;
        font-size: 84px;
        font-weight: 700;
        line-height: 89px; /* 105.952% */
        letter-spacing: -3.36px;
        margin-top: 24px;
    }
    &__decore {
        position: absolute;
        z-index: -1;
        top: 123px;
        left: 243px;
    }
    &__text {
        color: #5E6282;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px; /* 187.5% */
        margin-top: 30px;
    }
    &__buttons {
        margin-top: 34px;
        display: flex;
        align-items: center;
    }
    &__button-more {
        margin-right: 44px;
        width: 170px;
        height: 60px;
        border-radius: 10px;
        background: var(--yellow, #F1A501);
        color: var(--white, #FFF);
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        border: none;
        cursor: pointer;
        &:hover {
            box-shadow: 0px 20px 35px 0px rgba(241,165,1,.15);          
        }
    }
    &__button-circle {
        margin-right: 21px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 52px;
        height: 52px;
        border-radius: 50%; 
        background-color: #DF6951;
        border: none;
        cursor: pointer;
        &:hover {
            box-shadow: 0px 20px 35px 0px rgba(243, 82, 1, 0.15); 
            cursor: pointer;         
        }
    }
    &__button-triangle {
        width: 0;
        height: 0;
        border-top: 7.5px solid transparent;
        border-left: 15px solid white;
        border-bottom: 7.5px solid transparent;
        transform: translateX(15%);
    }
    &__button-text {
        border: none;
        background-color: unset;
        color: var(--text-color, #686D77);
        font-size: 17px;
        font-weight: 400;
        cursor: pointer;
    }
    &__airplane {
        position: absolute;
        right: 495px;
        top: 139px;
    }
    &__airplane-2 {
        position: absolute;
        right: 16px;
        top: 193px;
    }
    &__woomen {
        position: absolute;
        right: 0;
    }
}    